#logo{
	width:100px;
}

#img-accueil{
	width: 100%;
}

.btn-primary{
	background-color: #990000!important;
}

.card-header{
	background-color: #2A668A;
}

body{
	background-color:#BBC8F2;
}

nav{
	background-color: #035AA6!important;
}

.nav-link{
	color: white!important;
}

.navbar-brand{
	color: white!important;
}